# Python Fundamentals

## Python Variables, Data Types, lists, dictionaries, packages, numpy, slicing

In [1]:
#my first python program

print("Namaste Vadodara")

Namaste Vadodara

In [2]:
#variable and data types

var1 = 12  # delcare int value
var2 = 200.50 #declare floating value
var3 = "Intel" #declare string
var4 = True #declare Character

print (var1)
print (var2)
print (var3)
print(var4)

12
200.5
Intel
True

In [3]:
#print the data types of variable
print (type(var1))
print (type(var2))
print (type(var3))
print (type(var4))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [6]:
var5 = var1/4
var6 = var1 * var2
print(var5)
print(var6)

3.0
2406.0

In [10]:
#use input keyword to take input from user

#ask user to enter the value and store it in varialbe x

x = int(input("Enter the value of x : "))

#aks user to enter the value and store it in varialbe y

y = int(input("Enter the value of y : "))

#perform multiplication of x and y and store answer in variable Z

z = x*y

#Print answer

print(z)

9

In [13]:
#string Concatenation

str1 = "ITM "
print(str1)
print(type(str1))

str2 = "Universe"
print(str2)
print(type(str2))

#concatenation of str1 and str2 and store in str3
str3 = str1 + str2

print(str3)

ITM
<class 'str'>
Universe
<class 'str'>
ITM Universe

In [14]:
#String indexing and slicing

name = "Universe"
print(name)
print(len(name))

Universe
8

In [15]:
name[3]

'v'

In [16]:
name[5]

'r'

In [17]:
name[0]

'U'

In [18]:
name[5:]

'rse'

In [19]:
name[-10:-1]

'Univers'

## Tuples in Python

In [20]:
tup1 = ("ITM", 22, "Shrikant", 45.5, "Vadodara", 99)
print(tup1)
print(type(tup1))

('ITM', 22, 'Shrikant', 45.5, 'Vadodara', 99)
<class 'tuple'>

In [21]:
tup1[4]

'Vadodara'

In [22]:
tup1[2:4]

('Shrikant', 45.5)

In [23]:
tup2=("python", 87)
tup3 = tup1 + tup2
print(tup3)

('ITM', 22, 'Shrikant', 45.5, 'Vadodara', 99, 'python', 87)

In [24]:
tup1[0]

'ITM'

## List in Python

In [27]:
# Creating List

lst1 = ["ITM", 22, "Raju", 45.5, "Vadodara", 99]
lst1
print(type(lst1))

<class 'list'>

In [28]:
lst1[3]

45.5

In [29]:
len(lst1)

6

In [30]:
lst1.remove(22)

In [31]:
lst1

['ITM', 'Raju', 45.5, 'Vadodara', 99]

In [34]:
del lst1[0]
lst1

[45.5, 'Vadodara', 99]

## Dictionary

In [35]:
dict1 = {"University" : "ITM", "Course" : "Artificial Intelligence", "Branch" : "Electronics"}
print(dict1)

dict2 = { 1 : "ITM", 2 : "Artificial Intelligence", 3 : "Electronics"}
print(dict2)

#print only key values
print(dict2.keys())

#PRINT  ONLY  VALUES
print(dict2.values())

#cREAT6E DICTIONARY WITH SINGLE NVALUE
dict3 = {}
dict3 ['one'] = "this an value of key one"
dict3 [2] = "This is two"
print(dict3)

{'University': 'ITM', 'Course': 'Artificial Intelligence', 'Branch': 'Electronics'}
{1: 'ITM', 2: 'Artificial Intelligence', 3: 'Electronics'}
dict_keys([1, 2, 3])
dict_values(['ITM', 'Artificial Intelligence', 'Electronics'])
{'one': 'this an value of key one', 2: 'This is two'}

In [40]:
print(len(dict1))
print(type(dict1))

3
<class 'dict'>

In [41]:
x=dict1['University']
print(x)

y = dict2[2]
y

ITM

'Artificial Intelligence'

In [36]:
from math import pi
pi

3.141592653589793

In [37]:
# find the area OF CIRCLE

r =5
area = pi*r*r
print(area)

78.53981633974483

In [39]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [42]:
for i in range(0,20,3):
    print(i)

0
3
6
9
12
15
18

In [43]:
for i in range(0,0,20):
    print(i)

In [44]:
#program to  make simple calculator that can add , subtract, multuply and divide

#THIS FUNCTION ADD TWO NUMBER
def add(x,y):
    return x+y

#this function subtract two number
def sub(x,y):
    return x-y

#this functiom multiplies two numbers
def mul(x,y):
    return x*y

#this functiom divide two numbers
def div(x,y):
    return x/y

print("Select Operation")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

choice = input("Enter Choice (1/2/3/4): ")

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the Second number: "))

if choice == "1":
    print(num1, "+",num2, "=", add(num1,num2))
    
elif choice == "2":
    print(num1, "-",num2, "=", subtract(num1,num2))
    
elif choice == "3":
    print(num1, "*",num2, "=", multiply(num1,num2))
          
elif choice == "4":
    print(num1, "/",num2, "=", divide(num1,num2))

Select Operation
1. Add
2. Subtract
3. Multiply
4. Divide
4 + 5 = 9

## Python Conditional Statement

In [46]:
#if statement
num = 5
if num > 0:
    print(num, "is a positive Number")
    
print("This Statement is True")

5 is a positive Number
This Statement is True

In [47]:
#if else Statement
num = -2
if num > 0:
    print(num, "is a positive Number")
else:
    print("Negative Number")

Negative Number

In [48]:
#nested if

num = 5
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive Number")
    
else:
    print("Negative Number")
    print("Negative Number")

Positive Number

In [49]:
a=b=c=1

In [51]:
id(a)
id(b)
id(c)

1680188834032

In [52]:
#Write a Program to convert degree Farenhiet to Celsius

print("Welcome to the Converter which will convert the Degree Farenhiet value to the Degree Celsius.")
    
F = int(input("Please Enter the Value of temperature in Degree Farenhiet : "))
C = ((F-32)*5)/9

        
print("The Value of Temperature that was given by you in Degree Farenhiet which was converted to Degree Celsius is : ", C, "***********************Thank You***********************")

Welcome to the Converter which will convert the Degree Farenhiet value to the Degree Celsius.
The Value of Temperature that was given by you in Degree Farenhiet which was converted to Degree Celsius is :  37.77777777777778 ***********************Thank You***********************

In [53]:
# Exchange the value two variables with the temperorary variables
x = int(input("Enter the Value Number 1 : "))
y = int(input("Enter the Value Number 2 : "))

temp = x
x = y
y = temp

print(x)
print(y)

6
3

In [54]:
#Distance between two Points

import math
p = (4,0)
q = (6,6)
math.dist(p,q)

6.324555320336759

In [55]:
import math
p1 = [4, 0]
p2 = [6, 6]
distance = math.sqrt( ((p1[0]-p2[0])**2)+((p1[1]-p2[1])**2) )

print(distance)

6.324555320336759