# Indexing and selection operators

In [2]:
#importing pandas package
import pandas as pd

#making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving columns by indexing operator
first = data["Age"]

print(first)

Name
Avery Bradley    25.0
Jae Crowder      25.0
John Holland     27.0
R.J. Hunter      22.0
Jonas Jerebko    29.0
                 ...
Shelvin Mack     26.0
Raul Neto        24.0
Tibor Pleiss     26.0
Jeff Withey      26.0
NaN               NaN
Name: Age, Length: 458, dtype: float64

In [3]:
#importing pandas package
import pandas as pd

#making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving multiple columns by indexing operator
first = data[["Age", "College", "Salary"]]

print(first)

                Age            College     Salary
Name
Avery Bradley  25.0              Texas  7730337.0
Jae Crowder    25.0          Marquette  6796117.0
John Holland   27.0  Boston University        NaN
R.J. Hunter    22.0      Georgia State  1148640.0
Jonas Jerebko  29.0                NaN  5000000.0
...             ...                ...        ...
Shelvin Mack   26.0             Butler  2433333.0
Raul Neto      24.0                NaN   900000.0
Tibor Pleiss   26.0                NaN  2900000.0
Jeff Withey    26.0             Kansas   947276.0
NaN             NaN                NaN        NaN

[458 rows x 3 columns]

In [4]:
#importing pandas package
import pandas as pd

#making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving row by loc method
first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]

print(first, "\n\n\n", second)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

In [5]:
#importing pandas package
import pandas as pd

#making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving multiple row by loc method
first = data.loc[["Avery Bradley", "R.J. Hunter"]]

print(first)

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0

                     College     Salary
Name
Avery Bradley          Texas  7730337.0
R.J. Hunter    Georgia State  1148640.0

In [6]:
#importing pandas package
import pandas as pd

#making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving two row and three columns by loc method
first = data.loc[["Avery Bradley", "R.J. Hunter"],
                 ["Team", "Number", "Position"]]

print(first)

                         Team  Number Position
Name
Avery Bradley  Boston Celtics     0.0       PG
R.J. Hunter    Boston Celtics    28.0       SG

In [7]:
#importing pandas package
import pandas as pd

#making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving four row and five columns by loc method
first = data.loc[["Avery Bradley", "R.J. Hunter", "John Holland", "Marcus Smart"],
                 ["Team", "Number", "Position", "Height", "Weight"]]

print(first)

                         Team  Number Position Height  Weight
Name
Avery Bradley  Boston Celtics     0.0       PG    6-2   180.0
R.J. Hunter    Boston Celtics    28.0       SG    6-5   185.0
John Holland   Boston Celtics    30.0       SG    6-5   205.0
Marcus Smart   Boston Celtics    36.0       PG    6-4   220.0

In [8]:
#importing pandas package
import pandas as pd

#making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving all row and five columns by loc method
first = data.loc[:,["Team", "Number", "Position", "Height", "Weight"]]

print(first)

                         Team  Number Position Height  Weight
Name
Avery Bradley  Boston Celtics     0.0       PG    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF    6-6   235.0
John Holland   Boston Celtics    30.0       SG    6-5   205.0
R.J. Hunter    Boston Celtics    28.0       SG    6-5   185.0
Jonas Jerebko  Boston Celtics     8.0       PF   6-10   231.0
...                       ...     ...      ...    ...     ...
Shelvin Mack        Utah Jazz     8.0       PG    6-3   203.0
Raul Neto           Utah Jazz    25.0       PG    6-1   179.0
Tibor Pleiss        Utah Jazz    21.0        C    7-3   256.0
Jeff Withey         Utah Jazz    24.0        C    7-0   231.0
NaN                       NaN     NaN      NaN    NaN     NaN

[458 rows x 5 columns]

In [9]:
#importing pandas package
import pandas as pd

#making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving four row and all columns by loc method
first = data.loc[["Avery Bradley", "R.J. Hunter", "John Holland", "Marcus Smart"],:]

print(first)

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
Marcus Smart   Boston Celtics    36.0       PG  22.0    6-4   220.0

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
R.J. Hunter        Georgia State  1148640.0
John Holland   Boston University        NaN
Marcus Smart      Oklahoma State  3431040.0

In [10]:
#importing pandas package
import pandas as pd

#making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving row by iloc method
row2 = data.iloc[3]

print(row2)

Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

In [11]:
#importing pandas package
import pandas as pd

#making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving row by iloc method
row2 = data.iloc[6]

print(row2)

Team        Boston Celtics
Number                55.0
Position                PF
Age                   21.0
Height                 6-8
Weight               235.0
College                LSU
Salary           1170960.0
Name: Jordan Mickey, dtype: object

In [12]:
#retrieving row by iloc method
row2 = data.iloc[450]

print(row2)

Team        Utah Jazz
Number            2.0
Position           SF
Age              28.0
Height            6-8
Weight          226.0
College           NaN
Salary      2050000.0
Name: Joe Ingles, dtype: object

In [13]:
#importing pandas package
import pandas as pd

#making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving multiple row by iloc method
row2 = data.iloc[[3, 45, 10]]

row2

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Tony Wroten,New York Knicks,5.0,SG,23.0,6-6,205.0,Washington,167406.0
Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0

In [14]:
#importing pandas package
import pandas as pd

#making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving multiple row by iloc method
row2 = data.iloc[[80, 450, 290, 46, 300, 159]]

row2

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Stephen Curry,Golden State Warriors,30.0,PG,28.0,6-3,190.0,Davidson,11370786.0
Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
Jrue Holiday,New Orleans Pelicans,11.0,PG,25.0,6-4,205.0,UCLA,10595507.0
Elton Brand,Philadelphia 76ers,42.0,PF,37.0,6-9,254.0,Duke,NaN
Danny Green,San Antonio Spurs,14.0,SG,28.0,6-6,215.0,North Carolina,10000000.0
Doug McDermott,Chicago Bulls,3.0,SF,24.0,6-8,225.0,Creighton,2380440.0

In [15]:
#importing pandas package
import pandas as pd

#making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving two row and two columns by iloc method
row2 = data.iloc[[3, 45], [1, 2]]

row2

             Number Position
Name
R.J. Hunter    28.0       SG
Tony Wroten     5.0       SG

In [16]:
#importing pandas package
import pandas as pd

#making data frame from csv file
data = pd.read_csv("nba-2.csv", index_col = "Name")

#retrieving multiple row and multiple columns by iloc method
row2 = data.iloc[[29, 450, 69, 96, 250], [3, 2, 1, 4]]

row2

                    Age Position  Number Height
Name
Thaddeus Young     27.0       PF    30.0    6-8
Joe Ingles         28.0       SF     2.0    6-8
Patrick Patterson  27.0       PF    54.0    6-9
Blake Griffin      27.0       PF    32.0   6-10
Montrezl Harrell   22.0       PF    35.0    6-8