# Unique values and value counts

In [1]:
# importing Library
import pandas as pd

# storing the data of cars in the dictionary
car_data = {'Model Name': ['Valiant',
                          'Duster 360',
                          'Merc 2400',
                          'Merc 230',
                          'Merc 280',
                          'Merc 280C',
                          'Merc 450SE',
                          'Merc 450SL',
                          'Merc 450SLC',
                          'Cadillac Fleetwood',
                          'Lincoln Continental',
                          'Chrysler Imperial',
                          'Flat 128',
                          'Honda Civic',
                          'Toyota Corolla'],
           'Gear': [3, 3, 4, 4, 5, 4, 3, 3,
                   3, 3, 3, 3, 4, 4, 4],
            'Cylinder': [6, 8, 4, 4, 6, 6, 8,
                        8, 8, 8, 8, 8, 4, 4, 4]}

# creating DataFrame for the data using
# pandas dataFrame function
car_df = pd.DataFrame(car_data)

#printing the ddataframe
car_df

             Model Name  Gear  Cylinder
0               Valiant     3         6
1            Duster 360     3         8
2             Merc 2400     4         4
3              Merc 230     4         4
4              Merc 280     5         6
5             Merc 280C     4         6
6            Merc 450SE     3         8
7            Merc 450SL     3         8
8           Merc 450SLC     3         8
9    Cadillac Fleetwood     3         8
10  Lincoln Continental     3         8
11    Chrysler Imperial     3         8
12             Flat 128     4         4
13          Honda Civic     4         4
14       Toyota Corolla     4         4

In [2]:
# importing Library
import pandas as pd

# storing the data of cars in the dictionary
car_data = {'Model Name': ['Valiant',
                          'Duster 360',
                          'Merc 2400',
                          'Merc 230',
                          'Merc 280',
                          'Merc 280C',
                          'Merc 450SE',
                          'Merc 450SL',
                          'Merc 450SLC',
                          'Cadillac Fleetwood',
                          'Lincoln Continental',
                          'Chrysler Imperial',
                          'Fiat 128',
                          'Honda Civic',
                          'Toyota Corolla'],
           'Gear': [3, 3, 4, 4, 5, 4, 3, 3,
                   3, 3, 3, 3, 4, 4, 4],
            'Cylinder': [6, 8, 4, 4, 6, 6, 8,
                        8, 8, 8, 8, 8, 4, 4, 4]}

# creating DataFrame for the data using
# pandas dataFrame function
car_df = pd.DataFrame(car_data)

# printing the unique values present in the Gear coloumn
# finding unique values present 
# in the Gear column using unique() function
print(f"Unique values present in Gear column are: {car_df['Gear'].unique()}")

# printing the unique values present 
# in the cylinder column
# finding unique values present in the
# cylinder column using unique() function
print(f"Unique values present in Cylinder column are: {car_df['Cylinder'].unique()}")

#printing the ddataframe
#car_df

Unique values present in Gear column are: [3 4 5]
Unique values present in Cylinder column are: [6 8 4]

In [3]:
# importing Library
import pandas as pd

# storing the data of cars in the dictionary
car_data = {'Model Name': ['Valiant',
                          'Duster 360',
                          'Merc 2400',
                          'Merc 230',
                          'Merc 280',
                          'Merc 280C',
                          'Merc 450SE',
                          'Merc 450SL',
                          'Merc 450SLC',
                          'Cadillac Fleetwood',
                          'Lincoln Continental',
                          'Chrysler Imperial',
                          'Fiat 128',
                          'Honda Civic',
                          'Toyota Corolla'],
           'Gear': [3, 3, 4, 4, 5, 4, 3, 3,
                   3, 3, 3, 3, 4, 4, 4],
            'Cylinder': [6, 8, 4, 4, 6, 6, 8,
                        8, 8, 8, 8, 8, 4, 4, 4]}

# creating DataFrame for the data using
# pandas dataFrame function
car_df = pd.DataFrame(car_data)

# counting number of times each unique values
# present in the particular group using
# value_counts() function
gear_count = pd.value_counts(car_df.Gear)
cyl_count = pd.value_counts(car_df.Cylinder)

# another way of obtaining thge same output
g_count = car_df['Gear'].value_counts()
cy_count = car_df['Cylinder'].value_counts()
print('----Output from first method-----')

#printing number of times each unique
#values present in the particular group
print(gear_count)
print(cyl_count)

# printing output from the second  method
print('----Output from second method-----')
print(g_count)
print(cy_count)

----Output from first method-----
3    8
4    6
5    1
Name: Gear, dtype: int64
8    7
4    5
6    3
Name: Cylinder, dtype: int64
----Output from second method-----
3    8
4    6
5    1
Name: Gear, dtype: int64
8    7
4    5
6    3
Name: Cylinder, dtype: int64

In [4]:
# importing Library
import pandas as pd

# storing the data of cars in the dictionary
car_data = {'Model Name': ['Valiant',
                          'Duster 360',
                          'Merc 2400',
                          'Merc 230',
                          'Merc 280',
                          'Merc 280C',
                          'Merc 450SE',
                          'Merc 450SL',
                          'Merc 450SLC',
                          'Cadillac Fleetwood',
                          'Lincoln Continental',
                          'Chrysler Imperial',
                          'Fiat 128',
                          'Honda Civic',
                          'Toyota Corolla'],
           'Gear': [3, 3, 4, 4, 5, 4, 3, 3,
                   3, 3, 3, 3, 4, 4, 4],
            'Cylinder': [6, 8, 4, 4, 6, 6, 8,
                        8, 8, 8, 8, 8, 4, 4, 4]}

# creating DataFrame for the data using
# pandas dataFrame function
car_df = pd.DataFrame(car_data)

# finding unique values present in the particular group
name_count = pd.unique(car_df['Model Name'])
gear_count = pd.unique(car_df.Gear)
cyl_count = pd.unique(car_df.Cylinder)

# initializing variable to 0 for counting

name_unique = 0
gear_unique = 0
cyl_unique = 0

# writing separate for Loop of each groups
for item in name_count:
    name_unique += 1
    
for item in gear_count:
    gear_unique += 1
    
for item in cyl_count:
    cyl_unique += 1
    
# printing the number of unique values present in each group
print(f'Number of unique values present in Model Name: {name_unique}')
print(f'Number of unique values present in Gear: {gear_unique}')
print(f'Number of unique values present in Cylinder: {cyl_unique}')

Number of unique values present in Model Name: 15
Number of unique values present in Gear: 3
Number of unique values present in Cylinder: 3